step-function-workflow/dev/data-collection/state-machine.json
{
  "Comment": "POC123476589 - DynamoDB12 Lock + Map(3 Lambdas123)",
  "StartAt": "AcquireLock",
  "States": {
    "AcquireLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "sf-lock-table",
        "Key": {
          "LockName": {
            "S": "MySemaphore"
          }
        },
        "ExpressionAttributeNames": {
          "#count": "currentlockcount"
        },
        "ExpressionAttributeValues": {
          ":inc": {
            "N": "1"
          },
          ":limit": {
            "N": "3"
          }
        },
        "UpdateExpression": "SET #count = #count + :inc",
        "ConditionExpression": "#count < :limit"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 10,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "ResultPath": "$.error",
          "Next": "FailState"
        }
      ],
      "Next": "PrepareSensorList"
    },
    "PrepareSensorList": {
      "Type": "Pass",
      "Result": [
        "temp",
        "pressure",
        "vibration"
      ],
      "ResultPath": "$.sensorList",
      "Next": "RunSensors"
    },
    "RunSensors": {
      "Type": "Map",
      "ItemsPath": "$.sensorList",
      "MaxConcurrency": 3,
      "Parameters": {
        "sensor.$": "$$.Map.Item.Value",
        "executionId.$": "$$.Execution.Id"
      },
      "Iterator": {
        "StartAt": "ProcessSensor",
        "States": {
          "ProcessSensor": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:ap-northeast-1:227295996532:function:JAIME-SQS-Testing",
            "End": true
          }
        }
      },
      "Next": "ReleaseLock"
    },
    "ReleaseLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "sf-lock-table",
        "Key": {
          "LockName": {
            "S": "MySemaphore"
          }
        },
        "ExpressionAttributeNames": {
          "#count": "currentlockcount"
        },
        "ExpressionAttributeValues": {
          ":dec": {
            "N": "1"
          }
        },
        "UpdateExpression": "SET #count = #count - :dec"
      },
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "Cause": "Lock Not Available"
    }
  }
}







