step-function-workflow/dev/data-collection/state-2.json
{
  "Comment": "POC123 - DynamoDB Lock + 3 Parallel Lambdas",
  "StartAt": "AcquireLock",
  "States": {
    "AcquireLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "sf-lock-table",
        "Key": {
          "LockName": { "S": "MySemaphore" }
        },
        "ExpressionAttributeNames": {
          "#count": "currentlockcount"
        },
        "ExpressionAttributeValues": {
          ":inc": { "N": "1" },
          ":limit": { "N": "3" }
        },
        "UpdateExpression": "SET #count = #count + :inc",
        "ConditionExpression": "#count < :limit"
      },
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 10,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "ResultPath": "$.error",
          "Next": "FailState"
        }
      ],
      "Next": "RunSensors"
    },

    "RunSensors": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Temp",
          "States": {
            "Temp": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:227295996532:function:JAIME-SQS-Testing",
              "Parameters": {
                "execution.$": "$$.Execution.Id"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Pressure",
          "States": {
            "Pressure": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:227295996532:function:JAIME-SQS-Testing",
              "Parameters": {
                "execution.$": "$$.Execution.Id"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Vibration",
          "States": {
            "Vibration": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:227295996532:function:JAIME-SQS-Testing",
              "Parameters": {
                "execution.$": "$$.Execution.Id"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "ReleaseLock"
    },

    "ReleaseLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "sf-lock-table",
        "Key": {
          "LockName": { "S": "MySemaphore" }
        },
        "ExpressionAttributeNames": {
          "#count": "currentlockcount"
        },
        "ExpressionAttributeValues": {
          ":dec": { "N": "1" }
        },
        "UpdateExpression": "SET #count = #count - :dec"
      },
      "End": true
    },

    "FailState": {
      "Type": "Fail",
      "Cause": "Lock Not Available"
    }
  }
}
